@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100dvh;
  background: linear-gradient(
    170deg,
    rgb(1, 63, 133) 0%,
    rgb(116, 49, 82) 100%
  );
  transition: background-color 2s;
}
